                    main {
                        margin: 0px 25vw 10vw 25vw;
                        padding: 50px;
                        background-color: #eeeeee;
                        border-radius: 10px;
                        font-family: 'Roboto Slab', serif;
                        box-shadow: 2px 2px 10px #58BC82;
                    }
                    
                    main h1,
                    main h2,
                    {
                        color: #58BC82;
                        font-family: Raleway, sans-serif;
                    }
                    
                    main h3 {
                        font-family: Raleway, sans-serif;
                        letter-spacing: 3px;
                    }
                    
                    main p,
                    main ul {
                        line-height: 2;
                        font-size: 18px;
                    }
                    
                    main img {
                        max-width: 40vw;
                        padding: 2vw 0px;
                        text-align: center;
                    }
                    
                    #headline {
                        padding: 0px;
                    }
                    
                    #back-button {
                        font-family: Raleway, sans-serif;
                        text-transform: uppercase;
                        padding: 30px;
                        color: #FFF;
                        font-size: 24px;
                        background-color: #111;
                        border-radius: 10px;
                        margin-right: 20px;
                        display: flex;
                        flex-direction: row;
                        transition: 1s;
                    }
                    
                    #back-button:hover {
                        color: #111;
                        background-color: #FFF;
                        letter-spacing: 3px;
                    }
                    
                    #flexbox-row {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        padding: 200px 20vw 10vw 20vw;
                    }
                    
                    .fa fa-angle-left {
                        font-size: 30px;
                        padding: 40px;
                    }
                    
                    @media screen and (max-width: 850px) {
                        main {
                            padding: 50px;
                            margin: 0px;
                        }
                        #flexbox-row {
                            flex-direction: column;
                        }
                        #back-button {
                            margin-right: 0px;
                        }
                    }